.menu_fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}
.property_detail_table {
	width: 100%;
}
.property_detail_table td {
    font-size: 13px;
}
.property_detail_table tr {
	border-bottom: 1px dashed #eaeaea;
}
.property_detail_table td, .property_detail_table th {
    padding: 12px;
    padding-left: 0;
    border: 0;
}
.property_detail_table td {
	color: #484848;
}
.property_detail_table th {
	font-weight: 600;
	width: 25%;
	color: #9c9c9c;
}
.propery_description_paragraph {
	border-bottom: 1px dashed #eaeaea;
    margin: 0;
    padding-bottom: 20px;
}
.property_listing_features {
	padding: 0;
    margin: 0 !important;
    font-size: 11px;
    text-transform: uppercase;
    color: #909090;
    margin-bottom: -9px !important;
}
.facilities-list {
	background-color: #f7f7f7;
    padding: 10px !important;
    border-radius: 5px;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
.login, .signup {
  background-image: url(../img/bg-icon-1.png);
  padding: 0 0 70px !important;
}