.menu_fixed {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
}
.property_detail_table {
width: 100%;
}
.property_detail_table td {
  font-size: 13px;
}
.property_detail_table tr {
border-bottom: 1px dashed #eaeaea;
}
.property_detail_table td, .property_detail_table th {
  padding: 12px;
  padding-left: 0;
  border: 0;
}
.property_detail_table td {
color: #484848;
}
.property_detail_table th {
font-weight: 600;
width: 25%;
color: #9c9c9c;
}
.propery_description_paragraph {
border-bottom: 1px dashed #eaeaea;
  margin: 0;
  padding-bottom: 20px;
}
.property_listing_features {
padding: 0;
  margin: 0 !important;
  font-size: 11px;
  text-transform: uppercase;
  color: #909090;
  margin-bottom: -9px !important;
}
.facilities-list {
background-color: #ffffff;
padding: 10px !important;
border-radius: 5px;
}
img {
-webkit-user-drag: none;
-khtml-user-drag: none;
-moz-user-drag: none;
-o-user-drag: none;
user-drag: none;
}
.login, .signup {
background-image: url(../img/bg-icon-1.png);
padding: 0 0 70px !important;
}
.dropDownBox {
position: absolute;
top: 70px;
z-index: 99;
background-color: white;
box-shadow: 0 0 20px #00000078;
border-radius: 5px;
padding: 10px 20px;
width: 250px;
right: -42px;
}
.dropDownBox ul li {
line-height: 30px;
}
.dropDownBox {
border-bottom: 3px solid #337ab7;
}
.dropDownBox .border-bottom {
border-bottom: 1px solid #dedede;
padding: 10px 0;
}
.dropDownBox ul li ul li {
line-height: 30px;
}
.dropDownBox .btn-danger {
width: 100%;
background-color: #bd0000;
margin-top: 20px;
}
.sign-up-cart a {
color: #bd0000;
}
.sign-up-cart {
padding: 8px 0;
}
.carrot {
width: 0px;
height: 0px;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-bottom: 10px solid #fff;
position: absolute;
top: -10px;
left: 50%;
transform: translate(-50%, 0);
}

.book-now {
background-color: #d40000;
text-align: center;
padding: 5px;
border: 15px solid #fff;
margin-top: 25px;
}
.book-now a {
color: #ffffff;
font-weight: 600;
font-size: 150%;
text-transform: uppercase;
}
#cartpage {
margin-top: 30px;
font-size: 18px;
margin-bottom: 50px;
}
#cartpage table {
background: #fff;
}
#cartpage .fa-trash {
font-size: 20px;
color: red;
}
#checkout-table th, #checkout-table td {
padding: 10px;
}
.border-bottom {
border-bottom: 2px solid lightgrey;
padding-bottom: 15px;
}
.login-page, .signup-page {
margin-left: auto;
margin-right: auto;
}
.thank_you_box {
text-align: center;
}
.thank_you_box h2 {
font-weight: 800;
}
.order_id {
background-color: #dedede;
display: inline-block;
padding: 1px 10px;
border-radius: 20px;
font-size: 95%;
}
.thank_you_msg {
font-size: 25px;
color: #808080;
line-height: normal;
font-family: auto;
margin-top: 10px;
}
.banner-search-box {
  position: absolute;
  top: 27vh;
  left: 50%;
  transform: translateX(-50%);
  min-width: 70%;
  z-index: 9;
}
.hp-1 {
  height: 100%;
}
.property-img {
  height: 151px;
}
.map-img {
  cursor:grab;
}
.visible-mobile {
  display: none;
}
.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/*phone*/
@media (max-width: 768px) {
  .phone-mb-15 {
    margin-bottom: 15px;
  }
  .dropDownBox {
      position: absolute;
      top: unset;
      z-index: 99;
      background-color: white;
      box-shadow: 0 0 20px #00000078;
      border-radius: 5px;
      padding: 10px 20px;
      width: 100%;
      right: unset;
  }
  .rightside-navbar {
      display: block;
  }
  .banner-search-box {
      top: 48vh;
      min-width: 85%;
      z-index: 99999;
  }
}
@media (max-width: 425px) {
  .banner-search-box {
      top: 9.3vh;
      min-width: 93%;
      z-index: 25;
  }
}
